body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "box1 box1 box2"
  "box1 box1 box2"
  "box3 box3 box4"
  "box3 box3 box4";
  align-items: start;
  justify-items: start;
}

.box {
  border: 0.5rem dashed salmon;
  background-color: seagreen;
  padding: 2rem;
}

.box-1 {
 grid-area: box1;
 align-self: stretch;
 justify-self: center;
}

.box-2 {
  grid-area: box2; 
 }

 .box-3 {
  grid-area: box3;
  align-self: center;
  justify-self: stretch;
 }

 .box-4 {
  grid-area: box4; 
 }
 
 /* .box-5 {
  grid-area: box5; 
 } */
