.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2rem);
}

.item {
    background-color: salmon;
}

.item1 {
    grid-column: span 3;
    grid-row: 1/3;
}
