body{
  background-color: skyblue;
}

.content {
  display: grid;
  grid-gap: 1rem;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8rem 1fr 8rem;
  grid-template-areas: 
    "header header header"
    "aside article article"
    "footer footer footer";
}

header {
  background-color: salmon;
  grid-area: header;
}

aside {
  background-color: salmon;
  grid-area: aside;
}

article {
  background-color: salmon;
  grid-area: article;
}

footer {
  background-color: salmon;
  grid-area: footer;
}
