.container {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr) minmax(100px, 1fr) 1fr;
    grid-template-rows: repeat(4, 3rem);
    grid-auto-columns: 1fr;
    grid-auto-rows: 3rem;
    grid-gap: 1rem;
}

.item {
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column: 2/5;
    grid-row: 4/6;
}
