body{
  background-color: salmon;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 6rem);
  grid-template-rows: repeat(6, 6rem);
}

.item1 {
  background-color: springgreen;
  grid-column: span 3;
}

.item2 {
  background-color: white;
  grid-column: 5;
}

.item3 {
  background-color: skyblue;
  grid-column: 2/span 3;
}

.item4 {
  background-color: yellow;
  grid-column: 3/span 3;
}

.item5 {
  background-color: white;
  grid-column: 3;
}

.item6 {
  background-color: rebeccapurple;
  grid-column: span 3;
}

.item7 {
  background-color: springgreen;
  grid-column: span 3;
}

.item8 {
  background-color: skyblue;
  grid-column: 2 / span 3;
}

.item9 {
  background-color: white;
  grid-column: 6;
}
